<div>
  <%= button_to "Add listing", new_listing_path, method: :get %>
</div>

<% @listings.each do |listing| %>
  <ul>
    <li>
      <div>
      <%= link_to(listing) do %>
        <div><%= image_tag listing.listing_image.url(:medium) %></div>
        <h3><%= listing.title %></h3>
        <div><%= listing.location %></div>
        <div><%= listing.housing_type %></div>
        <div>$<%= listing.price %></div>
        <div>Available from <%= listing.available_from %> to <%= listing.available_to %></div>
      <% end %>
      </div>
    </li>
  </ul>
<% end %>
