<div class="add button">
  <%= button_to "Add listing", new_listing_path, method: :get %>
</div>

<ul class="listings">
  <% @listings.each do |listing| %>
      <li>
        <div class="item">
        <%= link_to(listing) do %>
          <!-- <div class="image-container"><%= image_tag listing.listing_image.url(:medium) %></div> -->
          <div class="image-container" style="background-image: url('<%= listing.listing_image.url %>');"></div>
          <div class="details">
            <h4><%= listing.title %></h4>
            <div><%= listing.location %></div>
            <div><%= listing.housing_type %></div>
            <div class="price">$<%= listing.price %></div>
            <!-- <div>Available from <%= listing.available_from %> to <%= listing.available_to %></div> -->
          </div> <!--end details-->
        <% end %>
        </div>
      </li>
  <% end %>
</ul>
